<div class="container background-grey">
<h1 class="text-center pt-5">Tous les mangas</h1>

<%= link_to "back to home", root_path, class: "btn btn-magic text-center my-3" %>
<hr>
<% @mangas.each do |manga| %>

  <%= link_to manga.title, manga_path(manga), class: "link" %>
  <hr>

<% end %>

<div class="container text-center">
  <nav class="nav-page pb-2">
  <%== pagy_nav(@pagy) %>
</nav>
</div>

</div>
