<div class="container">
<h1>Tous les messages</h1>

<%= link_to "back to home", root_path, class: "btn btn-magic text-center" %>
<hr>
<% @messages.each do |message| %>
  <p>
    <strong><%= message.role.capitalize %></strong>
  </p>
  <%= markdown(message.content) %>
  <%= link_to 'Voir la réponse', message_path(message) %>
  <hr>
<% end %>
</div>
