<!-- app/views/messages/new.html.erb -->
<div class="form-message-container">
  <div class="container p-5">
<%= simple_form_for [@manga, @message] do |f| %>
  <%= f.input :content, placeholder: "Ask a question", required: true, input_html: { class: "form-style" } %>
  <%= f.button :submit, 'Submit', class: 'btn btn-magic' %>
<% end %>
</div>
</div>
