// Define variables for your color scheme



// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// création des variables
$primary-purple: #8e44ad;
$secondary-purple: #c48edb;
$background: #2d2d2d;
$on-background: #F4F4F4;
$surface: #495057;
$on-surface: #e6e6e9;
