<h1>New chat</h1>
<%= simple_form_for [@manga, @chat] do |f| %>
  <%= f.input :title, placeholder: "Poser une question" %>
  <%= f.button :submit, "Nouvelle discussion", class: "btn btn-magic" %>
<% end %>
