
<div class="home-container">
<br>
<br>
<br>
<div class="container text-center p-5">
  <h1 class = "text-center p-3">WELCOME TO MANKAI</h1>
  <br>
  <%# lien pour envoyer l'user vers le chat %>
  <div>
  <%= link_to "Start a new chat ✨", new_chat_path, class: "btn btn-magic btn-lg text-center m-3" %>
  <%# lien pour envoyer l'user vers tous les messages %>
  <%= link_to "Show all manga", mangas_path, class: "btn btn-magic btn-lg text-center m-3" %>
  <%= link_to "Show all chat", chats_path, class: "btn btn-magic btn-lg text-center m-3" %>
  </div>
</div>
  <br>
  <br>
  <img src="https://ik.imagekit.io/oc2ow6e7b/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg" alt="manga-library" class="img-fluid">
