
<div class="home-container">
<h1 class = "text-center p-3">Bienvenue sur Mankai</h1>
<div class="container text-center p-5">
  <%# lien pour envoyer l'user vers le chat %>
  <%= link_to "Start a new chat ✨", new_manga_message_path(@manga), class: "btn btn-magic text-center" %>
</div>

</div>
