
//Bouton stylisée pour classe perso bootstrap
.btn-magic {

  background-color: $primary-purple; // violet personnalisé
  border-radius: 8px;
  border-color: $primary-purple;
  color: $on-background;
  font-size: 1rem;

  &:hover {
    background-color: $secondary-purple;
    border-color: $secondary-purple;
  }

  &:active {
    //enléve le active bleu de l'heritage de la class bootstrap au click
    background-color: $secondary-purple !important;
    border-color: $secondary-purple !important;
  }

}
